MODE=DEV

DB_HOST=localhost
DB_PORT=5433
DB_USER=postgres
DB_PASS=postgres
DB_NAME=dev_db

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
TASK_STATS_QUEUE=task.user_stats
AUTH_USER_INFO_QUEUE=auth.user_info
